[Unit]
Description=Desktop Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker kill desktop
ExecStartPre=/usr/bin/docker rm desktop
ExecStart=/usr/bin/docker run --name desktop -P --volumes-from desktopdata -v /mnt/home/:/home dcoon/samba
ExecStop=/usr/bin/docker stop samba
Restart=on-failure

[Install]
WantedBy=multi-user.target
